<!-- place footer here -->
    <section id="contact" class="footer_wrapper wrapper text-bg-primary py-3">
        
        <div class="container pb-3">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-4 mt-4">
                    <h5 class="mb-5">Blogger Location</h5>
                    <p class="ps-0 text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio,
                        minus!</p>

                    <div class="contact-info">
                        <ul class="list-unstyled text-danger">
                            <li><a href="#"><i class="fa fa-home me-3"></i>No. 96, South City, London</a></li>
                            <li><a href="#"><i class="fa fa-phone me-3"></i>+1 222 3333</a></li>
                            <li><a href="#"><i class="fa fa-envelope me-3"></i>info@example.com</a></li>

                        </ul>
                    </div>

                </div>

                <div class="col-lg-3 col-md-6 mb-4 mt-4">
                    <h5 class="mb-5">More Link</h5>
                    <ul class="link-widget p-0">
                        <li><a href="#"><i class="fa-sharp fa-light fa-greater-than"></i> About Us</a></li>
                        <li><a href="#"><i class="fa-sharp fa-light fa-greater-than"></i> Our Office</a></li>
                        <li><a href="#"><i class="fa-sharp fa-light fa-greater-than"></i> Delivery</a></li>
                        <li><a href="#"><i class="fa-sharp fa-light fa-greater-than"></i> Our Store</a></li>
                        <li><a href="#"><i class="fa-sharp fa-light fa-greater-than"></i> Guarantee</a></li>
                        <li><a href="#"><i class="fa-sharp fa-light fa-greater-than"></i> Buy Gift Card</a></li>
                        <li><a href="#"><i class="fa-sharp fa-light fa-greater-than"></i> Return Policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mt-4">
                    <h5 class="mb-5">More Link</h5>
                    <ul class="link-widget p-0">
                        <li><a href="#"><i class="fa-sharp fa-light fa-greater-than"></i>Web Design</a></li>
                        <li><a href="#"><i class="fa-sharp fa-light fa-greater-than"></i> Web Development</a></li>
                        <li><a href="#"><i class="fa-sharp fa-light fa-greater-than"></i> Product Marketing</a></li>
                        <li><a href="#"><i class="fa-sharp fa-light fa-greater-than"></i> Product Management</a></li>
                        <li><a href="#"><i class="fa-sharp fa-light fa-greater-than"></i> Guarantee</a></li>
                        <li><a href="#"><i class="fa-sharp fa-light fa-greater-than"></i> Graphic Design</a></li>
                        <li><a href="#"><i class="fa-sharp fa-light fa-greater-than"></i> Return Policy</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mb-4 mt-4">
                    <h5 class="mb-5">NewsLetter</h5>
                    <div class="form-group mb-4">
                        <input type="email" class="form-control bg-transparent text-light"
                            placeholder="Enter your Email Here" required>

                        <button type="submit" class="btn btn-primary ">Subscribe</button>

                    </div>

                    <h5>Stay Connected</h5>
                    <ul class="social-network d-flex align-items-center p-0 gap-3">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                        <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid copyright-section ">
            <h4 class="text-light"><i class="ri-copyright-line "></i> Yash E-Com - EJS
                BLOG WEBSITE ✅ All Right Reserved</h4>
        </div>

    </section>
    <!-- Footer end -->
    
<!-- custom js -->

<script src="main.js"></script>
</body>
</html>