<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog website</title>
    <link rel="stylesheet" href="style.css">

    <!-- bootstarp -->
    <link rel="stylesheet" href="vendors/bootstrap-5.0.2-dist/css/bootstrap.css">

    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">


    <!--BOX ICONE LINK-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!--remix icons link-->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">

    <!--Google Style font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- fontawesome cdn -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />


    <script src="vendors/bootstrap/js/bootstrap.bundel.min.js"></script>

    <!-- fontawsome icons -->
    <link rel="stylesheet" href="vendors/fontawesome/css/all.css">
</head>

<body>

    <!-- navbar -->
    <section id="header">
        <div class="container-fluid bg-dark">
            <div class="container">
                <nav class="navbar navbar-dark navbar-expand-md bg-dark">
                    <a class="navbar-brand fs-1 fw-semibold" href="">Blog<span class="text-danger">4</span>U</a>
                    <div class="ms-auto">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="http://localhost:3055/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">About </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Blogs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="">Support</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-danger rounded-pill fw-bold" href="/compose-blog">Compose Blog</a>
                            </li>
                        </ul>
                    </div>

                </nav>
            </div>
        </div>
    </section>

    <!-- navbar -->