<%- include('./partials/header.ejs'); %>

  <div class="image">
    <header class="header">
      <div class="content">
        <h1 class="heading">
          <span class="small">Welcome to the world of</span>
          <span class="no-fill"><h1><b>Blog 4U</b></h1></span>
        </h1>
        <a href="/editor" class="btn">write a blog</a>
      </div>
    </header>

  </div>

  <!-- blog section starts  -->
  <div class="Services-title text-center py-5">
    <h2 class="text-danger">My Recent Blog Posts</h2>
    <h1><b>My Blog</b></h1>
  </div>

  <section class="blog container">
    <div class="titleb"><span>Our blogs</span><a href="#">View all >></a></div><br>
    <div class="box-container py-5 mb-4">

      <div class="box">
        <div class="image">
          <img src="img/img1.png" alt="">
        </div>
        <div class="content">
          <h3>blog Riding...</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta iure quam fuga autem
            exercitationem enim repudiandae maxime rerum.</p>
          <a href="#" class="btn">read more</a>
          <div class="icons">
            <a href="#"><i class="fas fa-calendar"></i> 21st may, 2023</a>
            <a href="#"><i class="fas fa-user"></i> by admin </a>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="img/img6.png" alt="">
        </div>
        <div class="content">
          <h3>blog Celebration...</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta iure quam fuga autem
            exercitationem enim repudiandae maxime rerum.</p>
          <a href="#" class="btn">read more</a>
          <div class="icons">
            <a href="#"><i class="fas fa-calendar"></i> 21st may, 2023</a>
            <a href="#"><i class="fas fa-user"></i> by admin </a>
          </div>
        </div>
      </div>

      <div class="box">
        <div class="image">
          <img src="img/img5.png" alt="">
        </div>
        <div class="content">
          <h3>blog Weddings...</h3>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta iure quam fuga autem
            exercitationem enim repudiandae maxime rerum.</p>
          <a href="#" class="btn">read more</a>
          <div class="icons">
            <a href="#"><i class="fas fa-calendar"></i> 21st may, 2023</a>
            <a href="#"><i class="fas fa-user"></i> by admin </a>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- blog section ends -->

  <%- include('./partials/footer.ejs'); %>